@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

#createJSlogo {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #35455C;
    border-top-left-radius: 20px;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #f1f1f1;
}
#animation_container {
    position: relative;
    margin: auto;
}
#dom_overlay_container {
    position: absolute;
    width: 550px;
    height: 400px;
    top: 0;
}
.bear-animation-title {
    font-family: 'Mukta Mahee', sans-serif;
    text-align: center;
    font-size: 1.6em;
    color: #454545;
}

@media screen and (max-width: 550px) {
    #canvas {
        position: relative;
        transform: scale(0.8) ;
        width: 100% !important;
    }
}
